<div class="container-xl">

  <h1 class="py-3 text-center">Toutes les peluches disponibles</h1>

  <div class="d-flex justify-content-around">
    <div class="card-grid">
      <% @plushes.each do |plush| %>
        <%= link_to plush_path(plush) do %>
          <% if plush.photo.attached? %>
            <div class="cards">
              <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path plush.photo.key %>')">
                <div class="plush_name">
                  <%= plush.name %>
                </div>
                <div class="plush_size">
                  <%= plush.size %> cm
                </div>
              </div>
              <div class="card-info">
                <div class="cat-loc">
                  <h3>
                    <%= plush.category.capitalize %>
                  </h3>
                  <p>
                    <%= plush.localisation %>
                  </p>
                </div>
                <div class="price">
                  <h3>
                    <%= plush.price_per_day %>€/jour
                  </h3>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div id="map"
         style="width: 100%; height: 800px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

  <%= link_to root_path  do %>
    <h3>Back <i class="fas fa-undo-alt ml-1"></i></h3>
  <% end %>

</div>
