<div class="container" id="flatpickrpage">
  <h1 class="text-center py-3"><%= @plush.name %> - <%= @plush.size %> cm</h1>
  <div class="d-flex justify-content-around align-items-stretch" id="container-show">
      <div class="presentation-card">
        <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('<%= cl_image_path @plush.photo.key %>')">
        </div>
        <div class="d-flex justify-content-between mt-5" id="desciption-card">
          <div class="pr-3">
            <h2>Catégorie: <%= @plush.category.capitalize %></h2>
            <br>
            <h2> Description</h2>
            <p><i class="fas fa-comment-dots mr-1"> </i><%= @plush.description %></p>
            <br>
            <h2>Localisation</h2>
            <p><i class="fas fa-map-marked-alt mr-1"> </i><%= @plush.localisation %></p>
          </div>
        </div>
        <%= link_to plushes_path  do %>
          <h3 id="back-link">Back <i class="fas fa-undo-alt  ml-1" ></i></h3>
        <% end %>
      </div>
      <div class="booking-card" id="form-card">
        <% if !user_signed_in? %>
          <%= link_to new_user_session_path do %>
            <p class="text-center m-5 pt-5">Veuillez vous connecter pour réserver <%=@plush.name%></p>
          <% end %>
        <% else %>
          <div class="m-3">
            <h2>Je réserve <%=@plush.name%></h2>
            <%= simple_form_for [@plush, @booking] do |t| %>
              <%= t.input :start_date, as: :string, label: "Date de début", required: false, input_html: {class: "datepicker"}%>
              <%= t.input :end_date, as: :string, required: false, label: "Date de fin", input_html: {class: "datepicker"}%>
              <p>Durée de la location: <span id="total-nights">0</span> jours</p>
              <p>Prix par jour:
                <span id="plush-price-per-night"><%= @plush.price_per_day %></span> €/jour
              </p>
              <p><strong>Prix total de votre location: <span id="total-price">0</span>€ </strong></p>
              <%= t.submit "Confirmer ma réservation", class:"btn btn-primary align-right"%>
            <% end %>
      </div>
  </div>
</div>
