<div class="container">
  <h1 class="title-h1">MON DASHBOARD</h1>
  <h2 class="title-h2">Mes réservations</h2>

  <div class="card-allbooking" style= "background-image: url(https://images.unsplash.com/photo-1584993358834-f8deafc4f3c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80)">
    <div class="card-booking">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <div class="home-card booking-img" style="background-image: linear-gradient(rgba(0,0,0,0.14), rgba(0,0,0,0.14)), url('<%= image_path "plushes/#{booking.plush.name.downcase}.png" %>')"></div>
          <div class="card-product-infos">
              <ul>
                  <li> <strong><%= booking.plush.name %> </strong> </li>
                  <li> Vous avez reservé du <%= booking.start_date %> au <%= booking.end_date %> <%= booking.start_date - booking.end_date %></li>
                  <li class="pb-3"> <%= booking.plush.localisation %></li>
                  <li> <%= link_to booking_path(booking), method: :delete, data:{confirm: "Souhaitez-vous annuler votre booking ?"} do %>
                      <p>Supprimer <i class="fas fa-trash-alt pl-1"></i></p>
                    <% end %></li>
                  
            </ul>
          </div>
          <div class="card-product-infos mt-3">
            <% total_date = (booking.end_date.day - booking.start_date.day) %>
              <ul>
                  <li> <strong>Récapitulatif</strong> </li>
                  <li> Prix journalier : <%= booking.plush.price_per_day %> €</li>
                  <li> Nombre de jours : <%= total_date %></li>
                  <hr>
                  <li> Pix Total <strong><%= prix = total_date * booking.plush.price_per_day  %> €</strong></li>
            </ul>
          </div>
        </div>
      <% end %>
    <hr>
    <%= link_to "Continuer mes recherches", plushes_path  %>
    </div>
  </div>

</div>
